<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Express App</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/custom.css" type="text/css">
</head>
<body>
  <img src=<%= avatar %> alt='Avatar' />
  <p><%= greeting %></p>
  <h2><%= weapons.title %></h2>
  <ul>
    <% weapons.items.forEach(function(name) { %>
      <li> <%= name %> </li>
    <% }) %>
  </ul>

  <h2><%= vehicles.title %></h2>
  <ul>
    <% vehicles.items.forEach(function(name) { %>
      <li> <%= name %> </li>
    <% }) %>
  </ul>

</body>
</html>
